@import url("https://fonts.googleapis.com/css2?family=Anton&family=Raleway:wght@400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Anton&family=Manrope:wght@200;300;400;500;600;700;800&family=Raleway:wght@400;600&display=swap");
body {
  margin: 0;
  box-sizing: border-box;
  background-color: #EDEDED;
}

h1 {
  font-family: "Anton", sans-serif;
  font-weight: 400;
}

h3,
ul,
li {
  font-family: "Manrope", sans-serif;
  color: grey;
  font-weight: 500;
  margin-bottom: 0;
}

a {
  text-decoration: none;
  color: black;
}

.headerIndex {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

#headerBanner {
  object-fit: cover;
  width: 100%;
  position: absolute;
  top: 0;
  height: 80vh;
}

.headerLogo {
  position: absolute;
  z-index: 400;
  left: 10px;
  top: 5px;
  padding-left: 69px;
  padding-top: 51px;
}

.headerHero {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 80vh;
}

.headerHeroSearch {
  z-index: 400;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  position: relative;
}

.headerHeroTitle {
  font-size: 44px;
  color: #FFD15B;
  text-align: center;
}

form {
  width: 100%;
  z-index: 400;
  display: flex;
  align-items: center;
  justify-content: center;
}

input {
  width: 60%;
  height: 72px;
  border-radius: 15px;
  position: relative;
}

#searchSearchglass {
  border-radius: 15px;
  width: 51px;
  height: 52px;
  position: absolute;
  right: 21%;
  font-size: 20px;
  background-color: black;
  color: white;
  font-weight: lighter;
}

@media screen and (min-width: 770px) and (max-width: 1024px) {
  #headerBanner {
    width: 100%;
    position: absolute;
    top: 0;
  }
  .headerLogo {
    top: -30px;
    left: -40px;
  }
  .headerHeroTitle {
    font-size: 34px;
    color: #FFD15B;
    width: 70%;
  }
  .headerHeroSearch {
    z-index: 400;
    width: 100%;
  }
  input {
    width: 70%;
  }
  form {
    width: 100%;
    position: relative;
    padding-left: 50px;
    box-sizing: border-box;
  }
  #searchSearchglass {
    position: relative;
    right: 69px;
  }
}
@media screen and (min-width: 460px) and (max-width: 770px) {
  #headerBanner {
    width: 100%;
    position: absolute;
    top: 0;
  }
  .headerLogo {
    top: -30px;
    left: -40px;
  }
  .headerHeroTitle {
    font-size: 32px;
    color: #FFD15B;
  }
  .headerHeroSearch {
    z-index: 400;
    width: 100%;
  }
  input {
    width: 100%;
  }
  form {
    position: relative;
    top: 20px;
    padding-left: 50px;
    box-sizing: border-box;
  }
  #searchSearchglass {
    position: relative;
    right: 69px;
  }
}
@media screen and (min-width: 280px) and (max-width: 460px) {
  #headerBanner {
    width: 100%;
    position: absolute;
    top: 0;
  }
  .headerLogo {
    top: -30px;
    left: -40px;
  }
  #logoText {
    width: 90px;
  }
  #logoImg {
    width: 15px;
  }
  .headerHeroTitle {
    font-size: 21px;
    color: #FFD15B;
  }
  input {
    width: 78%;
    height: 50px;
    font-size: 10px;
    left: 15px;
  }
  #searchSearchglass {
    position: relative;
    right: 26px;
    width: 34px;
    height: 36px;
    font-size: 12px;
  }
}
/* Drop Down */
.dropdownSectionRecipe {
  display: flex;
  position: absolute;
}

.dropdownSection {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  position: relative;
  z-index: 1000;
  margin-left: 5vw;
  margin-right: 5vw;
  gap: 20px;
  margin-top: 17px;
}

.dropDownDiv {
  flex-direction: column;
  justify-content: space-between;
  width: 188px;
  background-color: white;
  border-radius: 11px;
  display: flex;
  height: fit-content;
  margin: 0 45px;
  position: relative;
}

.dropDownName {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px;
  font-family: "Manrope", sans-serif;
  font-weight: 600;
}

.dropdownSearchInput {
  height: 36px;
  border-radius: 0px;
  width: 75%;
  display: none;
  position: relative;
  border: 1px solid #C6C6C6;
  padding: 0 10px;
}

.dropDownSearchbar {
  display: flex;
  flex-direction: column;
  align-items: center;
  display: none;
  position: relative;
}

.spanError {
  position: relative;
  display: none;
  padding: 10px;
  font-family: "Manrope", sans-serif;
  font-weight: 600;
  color: red;
  font-size: 10px;
}

.spanError .hidden {
  display: hidden;
}

.fa-solid {
  color: black;
}

.filterGlass {
  border: none;
  background-color: transparent;
}

#crossdropDown-1 {
  position: absolute;
  left: 134px;
  top: 14px;
  visibility: hidden;
}

#crossdropDown-2 {
  position: absolute;
  left: 134px;
  top: 14px;
  visibility: hidden;
}

#crossdropDown-3 {
  position: absolute;
  left: 134px;
  top: 14px;
  visibility: hidden;
}

#glassdropDown-1 {
  position: absolute;
  left: 147px;
  top: 14px;
}

#glassdropDown-2 {
  position: absolute;
  left: 147px;
  top: 14px;
}

#glassdropDown-3 {
  position: absolute;
  left: 147px;
  top: 14px;
}

.arrowButton.open {
  transform: rotate(180deg);
}

.arrowButton:not(.open) {
  transform: rotate(0);
}

li {
  border-bottom-width: 1px;
  padding-bottom: 5px;
}

button {
  border: none;
  background-color: transparent;
}

ul.dropdown {
  background-color: white;
  color: black;
  border-radius: 11px;
  position: relative;
  list-style: none;
  padding: 15px 10px;
  display: flex;
  flex-direction: column;
  margin: 0;
  overflow: scroll;
  scrollbar-width: none;
  max-height: 210px;
  min-height: 20px;
  box-sizing: border-box;
  width: 100%;
}

ul.dropdown::-webkit-scrollbar {
  width: 0.5em;
}

ul.dropdown::-webkit-scrollbar-track {
  background-color: transparent;
}

ul.dropdown::-webkit-scrollbar-thumb {
  background-color: transparent;
  border-radius: 0;
}

ul.dropdown::-webkit-scrollbar-thumb:hover {
  background-color: transparent;
}

.hidden {
  display: none;
  padding: 0;
}

.buttonlidropdown {
  background-color: transparent;
  border-radius: none;
  width: inherit;
  height: inherit;
  position: static;
  border: none;
}

.arrowButton.open {
  transform: rotate(180deg);
}

.arrowButton.close {
  transform: rotate(0deg);
}

li {
  border-bottom-width: 1px;
  padding-bottom: 5px;
}

button {
  border: none;
  background-color: transparent;
}

.recipeField {
  text-align: end;
  font-family: "Anton", sans-serif;
  margin-left: 0;
  padding-top: 35px;
  position: relative;
}

ul.dropdown.hidden {
  display: none;
  height: 0px;
  padding: 0;
}

@media screen and (min-width: 991px) and (max-width: 1054px) {
  .dropdownSectionRecipe {
    display: flex;
    position: absolute;
    flex-direction: column-reverse;
  }
  .recipeField {
    text-align: start;
    font-family: "Anton", sans-serif;
    padding-top: 17px;
    position: relative;
    padding-left: 99px;
  }
}
@media screen and (min-width: 770px) and (max-width: 991px) {
  .dropdownSectionRecipe {
    display: flex;
    position: absolute;
    flex-direction: column-reverse;
  }
  .dropdownSection {
    width: 60%;
  }
  .dropDownDiv {
    flex-direction: column;
    justify-content: space-between;
    width: 188px;
    background-color: white;
    border-radius: 11px;
    display: flex;
    height: fit-content;
    margin: 0;
  }
  .recipeField {
    text-align: end;
    font-family: "Anton", sans-serif;
    margin-left: 0;
    padding-top: 10px;
    width: 20%;
    right: 21px;
  }
  #glassdropDown-1 {
    position: absolute;
    left: 111px;
    top: 12px;
  }
  #glassdropDown-2 {
    position: absolute;
    left: 102px;
    top: 14px;
  }
  #glassdropDown-3 {
    position: absolute;
    left: 101px;
    top: 13px;
  }
  #crossdropDown-3 {
    position: absolute;
    left: 90px;
    top: 13px;
    visibility: hidden;
  }
  #crossdropDown-2 {
    position: absolute;
    left: 90px;
    top: 14px;
    visibility: hidden;
  }
  #crossdropDown-1 {
    position: absolute;
    left: 99px;
    top: 12px;
    visibility: hidden;
  }
}
@media screen and (min-width: 630px) and (max-width: 770px) {
  .dropdownSectionRecipe {
    display: flex;
    position: absolute;
    flex-direction: column-reverse;
  }
  .dropdownSection {
    width: 60%;
  }
  .dropDownDiv {
    flex-direction: column;
    justify-content: space-between;
    width: 188px;
    background-color: white;
    border-radius: 11px;
    display: flex;
    height: fit-content;
    margin: 0;
  }
  .recipeField {
    text-align: end;
    font-family: "Anton", sans-serif;
    margin-left: 0;
    padding-top: 10px;
    width: 20%;
    right: 17px;
  }
  #glassdropDown-3 {
    position: absolute;
    left: 98px;
    top: 14px;
  }
  #glassdropDown-2 {
    position: absolute;
    left: 98px;
    top: 14px;
  }
  #glassdropDown-1 {
    position: absolute;
    left: 113px;
    top: 14px;
  }
  #crossdropDown-1 {
    position: absolute;
    left: 101px;
    top: 14px;
    visibility: hidden;
  }
  #crossdropDown-2 {
    position: absolute;
    left: 86px;
    top: 14px;
    visibility: hidden;
  }
  #crossdropDown-3 {
    position: absolute;
    left: 86px;
    top: 14px;
    visibility: hidden;
  }
}
@media screen and (min-width: 280px) and (max-width: 630px) {
  .dropdownSection {
    display: flex;
    flex-direction: column;
    z-index: 1000;
    width: 40%;
    position: relative;
    margin-top: 0;
    top: auto;
    right: 58px;
  }
  .dropdownSectionRecipe {
    display: flex;
    flex-direction: column;
    z-index: 1000;
    width: 40%;
    position: relative;
    margin-top: 0;
    top: 40px;
    width: 50%;
  }
  .dropdownSearchInput {
    left: 2px;
  }
  .recipeField {
    text-align: start;
    left: 18px;
    bottom: auto;
    position: absolute;
    top: -69px;
  }
}
.cardsSelection {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(30%, 1fr));
  gap: 48px;
  margin: 0px 104px;
  position: relative;
  top: 135px;
}

.divError {
  height: 100%;
  display: flex;
  justify-content: center;
}

.pError {
  font-size: 24px;
}

.card {
  display: flex;
  flex-direction: column;
  height: 731px;
  gap: 20px;
  background-color: white;
  border-radius: 21px;
  width: 380px;
  position: relative;
}

.cardImg {
  margin-bottom: -33px;
  width: 100%;
  height: 253px;
  object-fit: cover;
  border-top-right-radius: 21px;
  border-top-left-radius: 21px;
}

.timeCard {
  position: absolute;
  top: 20px;
  right: 20px;
  background-color: #ffd15b;
  padding: 5px 15px;
  font-size: 12px;
  border-radius: 14px;
  text-align: center;
}

.titleCard {
  margin-top: 27px;
  margin-left: 25px;
  margin-bottom: -15px;
  font-size: 18px;
  font-weight: 400;
  font-family: "Anton", sans-serif;
}

.titleCardH3,
.descriptionCard {
  margin-left: 25px;
  font-size: 12px;
}

.descriptionCard {
  font-family: Manrope, Arial, Sans-serif;
  font-size: 14px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  -webkit-line-clamp: 4;
  text-overflow: ellipsis;
  width: 291px;
}

.cardRecipeTitle,
.ingredientsContainer {
  margin-left: 25px;
}

.cardContent {
  display: flex;
  flex-direction: column;
  margin: 0 25px;
}

.ingredientZone {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(2, 1fr);
}

.divIngredients {
  display: flex;
  flex-direction: column;
}

.ingredientsQuantity {
  font-size: 14px;
  font-weight: 400;
  color: #7a7a7a;
}

.ingredientName {
  font-family: Manrope, Arial, Sans-serif;
  font-weight: 500;
}

.hidden {
  display: none;
}

/* Media Queries */
@media screen and (min-width: 991px) and (max-width: 1293px) {
  .cardsSelection {
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 48px;
    column-gap: 80px;
    top: 143px;
  }
}
@media screen and (min-width: 770px) and (max-width: 991px) {
  .cardsSelection {
    grid-template-columns: repeat(auto-fill, minmax(45%, 1fr));
    gap: 20px;
    margin: 0 auto;
    padding: 0 15px;
    width: 93%;
    top: 153px;
  }
}
@media screen and (min-width: 630px) and (max-width: 770px) {
  .cardsSelection {
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
    margin: 0 auto;
    padding: 0 15px;
    width: 93%;
    top: 152px;
  }
  .card {
    width: auto;
  }
}
@media screen and (min-width: 460px) and (max-width: 630px) {
  .cardsSelection {
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    padding: 0 15px;
    top: 73px;
    justify-items: center;
    width: 93%;
    margin: 0 auto;
  }
}
@media screen and (max-width: 460px) {
  .cardsSelection {
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
    padding: 0 15px;
    top: 73px;
    justify-items: center;
    margin: 0 auto;
  }
  .card {
    width: 100%;
  }
  .descriptionCard {
    width: 86%;
  }
  .timeCard {
    right: 35px;
    margin-top: 22px;
  }
}
.optionRecipe {
  display: flex;
  border-radius: 10px;
  padding: 17px;
  background-color: #ffd15b;
}

.optionZoneRecipe {
  display: none;
  flex-direction: row;
  margin-left: 107px;
  gap: 25px;
  padding-left: 5px;
  position: relative;
  flex-wrap: wrap;
  top: 96px;
}

#crossOptions {
  display: flex;
  padding-left: 6px;
  padding-top: 4px;
  position: static;
}

@media screen and (min-width: 630px) and (max-width: 770px) {
  .optionZoneRecipe {
    margin-left: 29px;
    top: 128px;
  }
}
@media (max-width: 630px) {
  .optionZoneRecipe {
    top: 59px;
    margin-left: 16px;
  }
}
@media screen and (min-width: 770px) and (max-width: 991px) {
  .optionZoneRecipe {
    right: 66px;
    top: 128px;
  }
}
@media screen and (min-width: 991px) and (max-width: 1054px) {
  .optionZoneRecipe {
    display: none;
    flex-direction: row;
    gap: 25px;
    position: relative;
    top: 129px;
  }
}

/*# sourceMappingURL=style.css.map */
